#movie{
	background-image: url("../assets/img/dunkerque.jpg");
	/*-webkit-filter: blur(5px); 
    filter: blur(5px);*/
    background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}
.cartel{
	max-width: 100px;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.title-1{
	text-align: left;
	font-size: 21 px;
	color: #FABD0D;
}

ul.detalles {
    margin: 0;
    padding: 0;
}

.detalles li{
	font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1;
	text-align: left;
	list-style: none;
	display: inline;
	margin: 0 0px 0 0;
}

label{margin-left: 20px;}
#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}

.sgte{
	float: right;
}