#movie{
	background-image: url("../assets/img/dunkerque.jpg");
	/*-webkit-filter: blur(5px); 
    filter: blur(5px);*/
    background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.cartel{
    margin: 0 auto;
    padding: 10px;
}
.title-1{
	text-align: left;
	font-size: 36px;
	color: #FABD0D;
}
.seats-btn {
 	.btn-primary {
    margin: 10px 0;
	}
}
.payment {
 	h2 {
    margin: 10px 0;
	}
}

ul.detalles {
    margin: 0 0 25px;
    padding: 0;
}

.detalles li{
	font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1;
	text-align: left;
	list-style: none;
	display: inline;
	margin: 0 15px 0 0;
}

.form-group {
    margin-bottom: 25px;
}
.sgte{
	float: right;
}